.footer-helpline-icon-div {
    padding: 0 !important;
    text-align: center;
}

@media only screen and (max-width: 992px) {
    .footer-helpline-icon-div {
        text-align: right;
        padding-right: 55px !important;
    }
}

.footer-helpline-heading-div {
    padding: 0 !important;
}

.footer-helpline-heading {
    margin: 0;
}

