@import "../../../node_modules/react-slideshow-image/dist/styles.css";
.header-logo {
    margin-left: 18px !important;
}

.header-logo-img {
    padding: 10px 0;
    width: 150px;
}

.categories-nav {
    min-height: 27px !important;
}

.search-bar-nav {
    margin-bottom: 0px !important;
}
@media only screen and (min-width: 601px){
    nav, nav .nav-wrapper i, nav a.sidenav-trigger, nav a.sidenav-trigger i{
        line-height: 48px;
    }
}
.fileContainer{
    padding:0px;
}
.prescription > a > i{
    line-height:36px !important;
}