@font-face {
  font-family: "Open Sans Condensed Light";
  src: url('../../../Fonts/OpenSansCondensed/OpenSansCondensed-Light.ttf');
}

.super-simple-loading-screen {
  height: 95vh;
  width: 100%;
}

/* loading dots */

.super-simple-loading {
    /* margin: 0 auto 0 auto;
    animation: super-simple-loading-text-animation 1s infinite;
    font-family: "Open Sans Condensed Light";
    position: relative;
    top: -1rem; */
    position: fixed;
    /* top: 50%; */
    left: 47%;
    /* transform: translate(-50%, -50%);
    transform: -webkit-translate(-50%, -50%);
    transform: -moz-translate(-50%, -50%);
    transform: -ms-translate(-50%, -50%); */
    color:darkred;
}
  
@keyframes super-simple-loading-text-animation {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0,0,0,0),
      .5em 0 0 rgba(0,0,0,0);
  }
  60% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 rgba(0,0,0,0);
  } 
  80%, 100% {
    text-shadow:
      .25em 0 0 white,
      .5em 0 0 white;
  }
}
  